body {
    font-family: Arial, sans-serif;
}

canvas {
    border:2px solid gray;    
    margin-top: 10px;
}

.bin-section {
    gap:10px; /*see arrangeGrid function in script*/
    display :grid;
    box-sizing:border-box;
}
